<form 
    class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
    [formGroup]="form"
    (ngSubmit)="submitForm()"
>
    <div class="col-10">
      <div class="form-outline">
        <input
            type="text" 
            placeholder="Enter task here" 
            class="form-control" 
            formControlName="task"
        />
      </div>
    </div>

    <div class="col-2">
      <button
      *ngIf="form.valid"
      type="submit" 
      class="btn btn-primary w-100"
    >
      Save
    </button>
    </div>
  </form>